<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:fragment="ConfigFragment">
<head>
	<!-- Common Head -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Amall</title>

	<!-- CSRF Token (Spring Security) -->
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>

	<!-- Common CSS -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
	<link th:inline="css" th:href="@{/css/cssCommon.css}" rel="stylesheet"/>

	<!-- Common JS (Legacy) -->
    <script th:inline="javascript" type="text/javascript" th:src="@{/js/scriptCommon.js}"></script>

	<!-- Modern API Infrastructure -->
	<script th:inline="javascript" type="text/javascript" th:src="@{/js/utils/ui-utils.js}"></script>
	<script th:inline="javascript" type="text/javascript" th:src="@{/js/utils/validation.js}"></script>
	<script th:inline="javascript" type="text/javascript" th:src="@{/js/api/api-client.js}"></script>
	<script th:inline="javascript" type="text/javascript" th:src="@{/js/api/member-api.js}"></script>
	<script th:inline="javascript" type="text/javascript" th:src="@{/js/signup-handler.js}"></script>
</head>
</html>